.header__slider__title{
    margin-top: var(--nav-menu-height);
    width: 100%;
    font-size: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header__text__welcome{
    font-size: 22px;
}

