
:root {
    --background-color: #89C7CC;
    --main-font-color: #000000;
    --second-font-color: #ffffff;
    --dark-blue-color: #04738D;
    --yelow-color: #F1B71C;
    --red-color: #D61F2A;
    --brown-color: #560F0F;

  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      background-color: var(--second-font-color); 
      font-family: 'Lato', sans-serif;
  }   

.more-about-product-section__wrapper{
  display: flex;
  flex-direction: column;
 align-items:  center;
 justify-content: center;
}
  .more-about-product-section__header {
    font-size: 36px;
    font-weight: 700;
    color: var(--red-color);
    margin: 150px 0 90px;
    text-transform: uppercase;

  }

.more-about-product-desc__wrapper{
  /* width: 50vw;
  margin: auto; */
  display: grid;
  grid-template-columns: repeat(2, 300px);

  grid-column-gap: 150px;
  grid-row-gap: 80px;

}
@media screen and (max-width: 500px) {
  .more-about-product-desc__wrapper{
    display: flex;
    flex-direction: column;
    
  }

  .more-about-product-desc-paragraph{
    margin: 0 60px 100px;
    }
}
.more-about-product-desc-text__wrapper {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;

}

  .more-about-product-desc-image {
    height: 60px;
  
  }

  .more-about-product-desc-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px;
    color: var(--dark-blue-color);
   
    font-size: 24px;
    font-weight: 400;
  } 

  .more-about-product-image{
    width: 100vw;
    margin-top: 70px;
  
  }

  .more-about-product-desc-paragraph {
    line-height: 24px;
  }