.nav{
  width: 100%;
  position: fixed;
  z-index: 3;
  height: var(--nav-menu-height);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.nav__container a{
    margin: 0 100px;
    height: 100%;
}

.nav-menu{
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.logo{
    height: 100%;
}

.nav-menu a{
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.2s ease;
    color: black;  
    margin: 0;
    padding: 0 10px;
}

#nav-menu a:hover {
    border-bottom: 4px solid black;
    /* padding: 6px 0; */
  }


@media (max-width: 760px){

    .nav{
        position: relative;
    }

    .nav__container{
        display: flex;
        flex-direction: column;
    }

    .nav-menu a{
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        transition: 0.2s ease;
        color: white;    
        flex-flow: column;
    }

    .nav-menu{
        display: flex;  
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: Montserrat;
        width: 100vw;
        background-color: black;
        opacity: 70%;
    }
}
