.premiera
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0px;
    background: url('/img/wave2-potatoes.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.premiera__container
{
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.premiera__container__box
{
    padding: 30px;
    border: 4px solid #015968;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    align-self: flex-start;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    background-color: rgba(256, 256, 256, 0.3);
}

.premiera__container__form
{
    background: #015968;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding: 10px 0;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    margin-left: 5%;
    align-self: flex-start;
}


.premiera__container__inputBox
{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    
}
.premiera__container-holder{
    display: flex;
    align-items: center;
    
    
}

.inputBox__text
{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 55px;
}

.userInput
{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    color: #575454;
    outline: none;
    border: none;
    border: 3px solid #015968;
}

textarea.userInput
{
    width: auto;
    height: 100px; 
    padding: 10px;
    font-family: 'Lato', sans-serif;
    resize: none;
}

.premiera__container__button
{
    background: #015968;
    color: white;
    width: 53%;
    height: 35px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.premiera__container__button:hover
{
    background: #015968b2;
}

.premiera__text
{
    
    display: flex;
}

.title
{    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
    color: #262626;
}
    /* text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold; */



.premiera__info{
    display: flex;
    flex-flow: column;
    background-color: rgba(256, 256, 256, 0.7);
    text-align: right;
    margin: 15px;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-right: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 1.7em;
    color: #04738D;
    border-radius: 8px;
    font-weight: bolder;
}
.informacja{
    color: #063E4F;
    
}
.info-p{
    font-size: 0.5em;
    font-weight: lighter;
    color: #262626;
}
.paddle{
    display: flex;
    height: 70px;
    width: 70px;
    margin-right: 60px;
    margin-left: 60px;
}
@media all and (max-width: 800px)
{
    .paddle{
        display: none;
    }
    .premiera__container-holder{
        flex-flow: column;
    }
    .premiera__info{
        width: 90%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .informacja{
        font-size: 1em;
    }
    .info-text{
        font-size: 0.7em;
    }
    .info-p{
        font-size: 0.35em;
    }

}
